.border-top{
    position: fixed;
    width: 100%;
    height: 16px;
    top: 0px;
    z-index: 4;
    background: linear-gradient(to left, #ddd 50%, #ddd 50%);
    background-repeat: no-repeat;
    background-size: 200% 200%;
    background-position: right bottom
}

.border-left{
    position: fixed;
    height: 100%;
    width: 16px;
    left: 0px;
    top: 0;
    z-index: 4;
    background: linear-gradient(to top, #ddd 50%, #ddd 50%);
    background-repeat: no-repeat;
    background-size: 100% 200%;
    background-position: center bottom;
}

.border-bottom{
    position: fixed;
    width: 100%;
    height: 16px;
    bottom: 0px;
    z-index: 4;
    background: linear-gradient(to left, #ddd 50%, #ddd 50%);
    background-repeat: no-repeat;
    background-size: 200% 200%;
    background-position: right bottom
}

.border-right{
    position: fixed;
    height: 100%;
    width: 16px;
    right: 0px;
    top: 0;
    z-index: 4;
    background: linear-gradient(to top, #ddd 50%, #ddd 50%);
    background-repeat: no-repeat;
    background-size: 100% 200%;
    background-position: center top;
}

main{
    width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-columns: 5% 1fr 1fr 5%;
    grid-gap: 5em;
    margin-top: 50px;
    overflow: hidden;
    @media only screen and (max-width: 768px) {
        grid-template-columns: 5% 1fr 5%;
        // background-color: #aaa;
        grid-gap: 1em;
        min-height: 100%;
        overflow: hidden;
    }

    .portfolio{
        @media only screen and (max-width: 768px) {
            grid-column: 2/3;
        }

    }

        .hero{

            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            
            img{
                width: 100%;
                height: 100%;
                background-size: cover;
                transition: transform 0.3s ease-out;
            }

            .model-right{
                transform: translate(0%, 10%);
            }

            .model-left{
                transform: translate(0%, -10%);
            }

            &:hover .model-right{
                transform: translate(0%, 0%);
                
            }

            &:hover .model-left{
                transform: translate(0%, 0%);
                
            }

            &:hover{
                box-shadow: 0px 10px 40px -16px rgba(224,224,224,1);
            }
        }

        .details{
            width: 100%;
            height: auto;
            position: relative;
            top: -10px;
            left: 0;
            margin: 0 auto;

            h2{
                display: inline-block;
                font-size: 2em;
                text-transform: uppercase;
                letter-spacing: 4px;
                @media only screen and (max-width: 1024px) {
                    font-size: 1.5em;
                }

                &::before{
                    position: relative;
                    content: '';
                    display: block;
                    width: 120px;
                    // border-top: 3px solid #dddddd;
                    
                }
            }

            .description{
                font-size: 1em;
                text-transform: uppercase;
                text-align: left;
                margin-left: 20px;
                letter-spacing: 2px;
                cursor: pointer;
                &::before{
                    position: absolute;
                    content: '';
                    display: block;
                    height: 60px;
                    border-left: 3px solid #adadad;
                    left: 0;
                }

            }
        }

        .portfolio:nth-child(odd){
            grid-column: 2/3;
        }
        .portfolio:nth-child(even){
            position: relative;
            top: 100px;
            @media only screen and (max-width: 768px) {
                top: 0;
            }
        }
}


.footer{
    margin: 0 auto;
    width: 80%;
    height: 160px;
    margin-top: 120px;
    border-top: 1px solid #ddd;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    line-height: 30px;
    color: #aaa;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    @media only screen and (max-width: 768px) {
        width: 85%;
        height: 100%;
        margin-top: 20px;
        margin-bottom: 40px;
        flex-direction: column;
    }

    .liens{
        position: relative;
        width: 20%;
        display: flex;
        justify-content: space-between;
        @media only screen and (max-width: 768px){
            width: 100%;
            justify-content: space-evenly;
            margin-top: 20px;
        }

        a{
            text-decoration: none;
            color: #797979;
            position: relative;
            &::after{
                content: '';
                position: absolute;
                width: 25px;
                height: 2px;
                background-color: #797979;
                top: 30px;
                left: 0;
                transition: .4s ease-out;
            }
        }
    }

        

}